body {
    background-color: #f9f9f9;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1, h2, h3, h4 {
    color: #333;
    margin-top: 0;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    color: #444;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

div {
    padding: 10px;
    margin: 5px;
}

input[type="button"], input[type="submit"], button {
    font-size: 1em;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    text-shadow: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

input[type="button"]:active, input[type="submit"]:active, button:active {
    background-color: #004494;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust width for padding and border */
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #eee;
}

.buttons {
    margin-top: 10px;
}

#disconnect_wifi {
    display: inline-block;
}
